body {
  background-color: #282a36;
  font: 22px Courier New, Courier, monospace;
  color: #c4c7c5;
}
header {
  border: 2px solid #fff;
  margin: 40px 20px 60px;
}
header h1 {
  text-align: center;
  margin: 0;
  padding: 10px;
}
.logocontainer {
  width: 100px;
  margin: auto;
}
.logocontainer img {
  width: 100px;
  padding: 10px;
}
nav {
  width: 400px;
  margin: auto;
  margin-bottom: 50px;
}
nav li {
  display: inline;
  padding: 5px;
  background-color: rgb(200, 78, 78);
  border: 1px solid #fff;
  text-align: center;
}
nav li:hover, nav .homebutton:hover {
  background-color: rgb(155, 16, 16);
}
nav a , nav .homebutton{
  
  text-decoration: none;
  color: #c4c7c5;
}
main {
  border: 2px solid #fff;
  margin: 20px;
  padding: 20px;
}
main h2 {
  color: cadetblue;
  text-align: center;
}
#green-background {
  background-color: green;
  border: 2px dotted red;
}
ul .een {
  color: rgb(64, 255, 0);
  font-size: 23px;
}
ul .twee {
  color: rgb(255, 225, 0);
  font-size: 20px;
}
div.container2 {
  border: 1px solid red;
  width: 1400px;
  padding: 20px;
  margin: auto;
}
footer {
  font-size: 12px;
  text-align: center;
}
h2.broer {
  font-family: monospace;
  font-size: 30px;
  text-decoration: underline;
  color: red;
  text-align: center;
}
.fotobroer{
  height: 400px;
  padding: 20px;
}
nav a.homebutton {
  background-color: rgb(200, 78, 78);
  margin: 30px 10px 10px 90px;
  padding: 10px 20px 10px 20px;
  border: 1px solid #fff;
  text-align: center;

}
.block {
  float: left;
  width: 33.3%;
  border: 1px solid #fff;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom:60px;
}
.block p {
  font-style: italic;
  color: #18d557;
}
